<div class="modal-header text-center">
  <i ng-click="return('/service')"class="glyphicon glyphicon-arrow-left"></i>
  <h3>{{services.name}}</h3>
  <i ng-click="goTo('/monitoring')" class=" glyphicon glyphicon-dashboard"></i>
</div>
<div class="modal-body">
  <div class="row center-block">
    <div class="col-md-5 labels"><h4>modules:</h4></div>


    <div class="col-md-5 labels col-md-offset-2"><h4>restrictions:</h4></div>
  </div>
  <div class="row center-block">
    <div class="col-md-5 box">df</div>


    <div class="col-md-5 box col-md-offset-2">dsfdsf</div>
  </div>
</div>
